@{
    ViewData["Title"] = "About";
}

@section scripts {
    <script>System.import('pages/about/index')</script>
}

<div class="row">
    <div class="col-md-12">
        <h2>About</h2>
    </div>
</div>
