@{
    ViewData["Title"] = "About";
}

@section scripts {
    <script>System.import('pages/angular2/index')</script>
}

<div class="row">
    <div class="col-md-12">
        <h2>Angular 2 example</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hello-world></hello-world>
    </div>
</div>

