@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script>require(['pages/home/index'])</script>
}

<div class="row">
    <div class="col-md-4">
        <h2>How to</h2>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Overview</h2>
    </div>
    <div class="col-md-4">
        <h2>Run & Deploy</h2>
    </div>
</div>
