@{
    ViewData["Title"] = "About";
}

@section scripts {
    <script>
        System.import('pages/react/index').then(function (home) {
            home.init('#host');
        });
    </script>
}

<div class="row">
    <div class="col-md-12">
        <h2>React example</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="host">
    </div>
</div>
