<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>

    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">SystemJS Example</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="React">React</a></li>
                    <li><a asp-controller="Home" asp-action="Angular2">Angular2</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - Web</p>
        </footer>
    </div>

    @* 
        Polyfills
    *@
    <environment names="Development">
        @*
            DEV: SystemJS loads scripts dynamically
        *@
        <script src="~/js/jspm_packages/system.js"></script>
        <script src="~/_jspm.config.js"></script>
    </environment>
    <environment names="Staging,Production">
        @*
            PROD: Load optimized systemjs bundle
        *@
        <script src="~/js/jspm_packages/system.js"></script>
        <script src="~/_jspm.config.js"></script>
        <script src="~/js/_main.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
