//sinopia.trademe.local/:_authToken="IjxnBf3rBnTAItVz22duxg=="
@trademe:registry=http://sinopia.trademe.local/
registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=4e8438b2-659c-47f3-a070-bad285829814
